<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <appSettings>
    <!--These 3 values should be set before using the application-->
    <add key="AWS_ACCESS_KEY_ID" value=""/>
    <add key="AWS_SECRET_KEY" value=""/>
    <add key="ASSOCIATE_TAG" value=""/>
    
    <!--EndPoint  should be "webservices.amazon.co.uk in current version of the application-->
    <add key="ENDPOINT" value="webservices.amazon.co.uk"/>
    <add key="NAMESPACE" value ="http://webservices.amazon.com/AWSECommerceService/2011-08-01"/>
  </appSettings>

</configuration>
